.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumbList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 8px;
}


.breadcrumbLink {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease;
}

.breadcrumbLink:hover {
  color: var(--text-primary);
}

.breadcrumbCurrent {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 500;
}

